%html
  %head
    %title Ruby resume
    %link{:href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      .header-content
        %h1
          %a{href: '/'} Ruby developer
        %h2 Dmitry Kovalenko
        .contacts
          %img{src: 'images/icons/mail80.png'}
          %span alegria2112@gmail.com
          %br
          %img{src: 'images/icons/smartphone24.png'}
          %span +380939785802
    %main
      =yield
    .contacts-fixed
      %img{src: 'images/icons/mail80.png'}
      %span alegria2112@gmail.com
      %br
      %img{src: 'images/icons/smartphone24.png'}
      %span +380939785802
