%html
  %head
    %title Ruby resume
    %link{:href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      .header-content
        %h1 Ruby developer
        %h2 Dmitry Kovalenko
    %main
      =yield
