.projects-samples
  %img{src: "images/SF1.jpg", alt: "Sound Cloud", height: "400px", width: "100%"}
  %content
    %h3 The Crew
    %span Monitoring financial succes of the team
    %ul
      %li HTML5
      %li HAML
      %li CSS3
      %li Sass/Scss
      %li Javascript
      %li jQuery
      %li Ruby
      %li Ruby on Rails
      %li Rspec
      %li Devise
    .social-link
      %a{href: 'https://github.com/a-for-alegria/CrewApp', target: 'blank'}
        %img{src: 'images/icons/github13.png'}
      %a{href: 'https://the-crew.herokuapp.com/', target: 'blank'}
        %img{src: 'images/icons/web58.png'}

.projects-samples
  %img{src: "images/SF2.jpg", alt: "Paleton", height: "400px", width: "100%"}
  %content
    %h3 Paleton
    %span Color picker
    %ul
      %li HTML5
      %li HAML
      %li CSS3
      %li Sass/Scss
      %li Javascript
      %li jQuery
      %li Ruby
      %li Ruby on Rails
      %li Rspec
      %li Devise
    .social-link
      %a{href: 'https://github.com/a-for-alegria/CrewApp', target: 'blank'}
        %img{src: 'images/icons/github13.png'}
      %a{href: 'https://the-crew.herokuapp.com/', target: 'blank'}
        %img{src: 'images/icons/web58.png'}