/*
Error: Invalid CSS after "...n-width: 1025px": expected ")", was ";) {height: 20%;}"
        on line 27 of public/stylesheets/styles.css.scss

22: 	font-size: 16px;
23: 	font-family: 'Pontano Sans', sans-serif;
24: }
25: 
26: header {
27: 	@media(min-width: 1025px;) {height: 20%;}
28: 	width: 100%;
29:   background-color: #e3e3e3;
30: }
31: 
32: h1 {

Backtrace:
public/stylesheets/styles.css.scss:27
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:467:in `query_expr'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:440:in `media_query'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:406:in `media_query_list'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:1079:in `expr!'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:401:in `media_directive'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin.rb:54:in `check_for_updates'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/sass-3.4.13/lib/sass/plugin/rack.rb:51:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/tempfile_reaper.rb:15:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/lint.rb:49:in `_call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/lint.rb:37:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/showexceptions.rb:24:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/commonlogger.rb:33:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/chunked.rb:54:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/content_length.rb:15:in `call'
/home/dimadev/.rvm/gems/ruby-2.1.3/gems/rack-1.6.0/lib/rack/handler/webrick.rb:89:in `service'
/home/dimadev/.rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/webrick/httpserver.rb:138:in `service'
/home/dimadev/.rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/webrick/httpserver.rb:94:in `run'
/home/dimadev/.rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...n-width: 1025px\": expected \")\", was \";) {height: 20%;}\"\A         on line 27 of public/stylesheets/styles.css.scss\A \A 22: 	font-size: 16px;\A 23: 	font-family: 'Pontano Sans', sans-serif;\A 24: }\A 25: \A 26: header {\A 27: 	@media(min-width: 1025px;) {height: 20%;}\A 28: 	width: 100%;\A 29:   background-color: #e3e3e3;\A 30: }\A 31: \A 32: h1 {"; }
